QListWidget {
    background-color: #f0f0f0;
    border: none;
}

QListWidget::item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

QListWidget::item:selected {
    background-color: #908484;
    font-weight: bold;
}