/* styles.css */
FileExplorer QPushButton.execute-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

FileExplorer QPushButton.execute-button:hover {
    background-color: #45a049;
}